nav {
    text-align: center;
    margin-bottom: 50px;
}
nav button {
    min-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.row {
    border: 5px ridge lightgrey;
}

.col {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
/*    display: inline-block;*/
}

img {
    height: auto;
    width: 50%;
    margin: 10px;
}
body {
    margin: 30px;
    font-family: 'Vollkorn', serif;
}
@media (min-width: 765px) {
    .col {
        height: 300px;
        object-fit:;
    }
    
@media (min-width: 990px) {
    .col {
        height: 400px;
    }
}