.container {
    border:1px solid black;
    border-radius: 20px;
    margin: 30px;
    height: auto;
    padding: 20px;
    max-width: 600px;
    background-color:skyblue;
    
}
p {
    height: 100px;
    border: 1px solid black;
}
#about {
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
    margin-top: 10px;
    width: 100%;
    object-fit: contain;
    background-color: white;
    padding: 10px;
}
input {
    height: 30px;
    width: 100%;
    margin: 5px;
}
#input-about input {
    height: 100px;
    vertical-align: top;
}
#button-row {
    text-align: center;
}
#badge-col {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
    height: 50px;
    padding-top: 10px;
}
#badge-row {
    font-size: 20px;
    font-family:fantasy;
}
#badge-row .col {
    border-bottom: 1px solid grey;
    margin-top: 3px;
    
}
input.ng-invalid {
    border: 1px solid red;
}
