
#myForm {
    background-color: gainsboro;
    border: 1px ridge black;
    padding: 30px;
    text-align: left;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
}
h1 {
    font-size: 50px;
}
body {
/*    border: 5px ridge blue;*/
    font-size: 20px;
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(sayagata-400px/sayagata-400px.png)
}
#output {
    column-count: 2;
    display:inherit;
    font-size: 30px;
    font-weight: 600;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: auto;
}
#add {
    background-color: skyblue;
    border-color: skyblue;
    min-width: 50px;
    min-height: 30px;
    border-radius: 5px;
    margin-left: 10px;
}
#input {
    border-radius: 5px;
    height: 25px;
    width: 300px;
    font-size: 20px;
    
}
@media (max-width: 420px){
    #myForm {
        column-count: none;
    }
}