<h1 ng-click="">Explore</h1>
<div class="row">
    <div id="filmBtn" class="col-sm-6">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="showFilms = !showFilms || playAudio()" ng-model="showInfoBtn">Star Wars Movies</button>
        </div>
        <div id="filmInfo" class="col-sm-12 col-md-6 text-center" ng-repeat="film in films track by $index" ng-show="showFilms">
            <h3> {{film.title}} </h3>
            <h4>episode: {{ film.episode_id}}</h4>
            <h5>release date: <br> {{film.release_date}}</h5>
            <h4 ng-show="showFilms" ng-click="people(film, $index)">"click here" for characters</h4>
            <div class="col-xs-6" ng-repeat="character in film.people track by $index">
                <p> {{ character }}</p>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-12 text-center">
            <button class="btn btn-danger" ng-click="showCharacters = !showCharacters">Main Characters</button>
        </div>
        <div class="col-xs-4 col-sm-4" ng-repeat="actor in character track by $index" ng-show="showCharacters">
            <h6> {{ actor.name }} <br>birth year: {{ actor.birth_year }} </h6>
        </div>
    </div>

</div>