.col img {
    border: 5px outset white;
    width: 95%;
    height: 200px;
    object-fit: cover;
}
.col {
    height: 300px;
    padding: 3px;
}
#container{
    border: px solid blue;
    text-align: center;
    height: 100%;

}
.row {
    margin: 60px;
}
h2 {
    font-size: 22px;
    margin-top: 0px;
    color: white;
}
h1 {
    color: black;
    background-color: white;
}
body {
    background-image: url("footer_lodyas/footer_lodyas.png");
}