body {
    background-color: azure;
}

#blog1,
#blog2,
#blog3,
#blog4,
#blog5,
#blog6 {
    text-align: justify;
    color: dodgerblue;
    background-color: aquamarine;
    border: 1px solid blue;
    width: 600px;
    height: 400px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
}

#blog1 {
    margin-top: 80px;
}

#navBar {
    position: fixed;
    z-index: 10;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: gainsboro;
    border: 1px solid black;
    display: block;
}

img {
    float: left;
    width: 50%;
    height: auto;
}

h1 {
    margin: 3px;
}