<div id="home">
    <h1>Welcome to the Star Wars Information Website!</h1>
    <p>Click on a characters picture for information about that character</p>

    <div class="row">
        <div class="col-xs-4 col-sm-4" ng-click="charicterInfo">
            <!--       luke      -->
            <img class="img-responsive" src="http://rs31.pbsrc.com/albums/c394/fldayz/90s/Star_Wars_4_Luke_Skywalker.jpg~c200" alt="Luke" ng-click="showLuke = !showLuke">
        </div>
        <div class="col-xs-4 col-sm-4">
            <!--      C-3PO     -->
            <img class="img-responsive" src="http://images.akamai.steamusercontent.com/ugc/289726966093628176/4284332DE9E2418EE9BD8C24FBC610FF1E4ECDB0/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C200:200&composite-to%3D*%2C*%7C200%3A200&background-color=black" alt="" ng-click="showC3 = !showC3">
        </div>
        <div class="col-xs-4 col-sm-4">
            <!--      R2-D2      -->
            <img class="img-responsive" src="https://pbs.twimg.com/profile_images/679154009949650944/hK_N09QV_200x200.jpg" alt="" ng-click="showR2 = !showR2">
        </div>
    </div>
    <div id="homePg" class="row">
        <div class="col col-xs-4 col-sm-4">
            <div ng-show="showLuke">
                <h4>{{people[0].name}}</h4>
                <p>Birth year: {{people[0].birth_year}}
                    <br>Mass: {{people[0].mass}}
                    <br>Height: {{people[0].height}}
                    <br>Planet: {{lukeHome}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4 col-sm-4">
            <div ng-show="showC3">
                <h4>{{people[1].name}}</h4>
                <p>Birth year: {{people[1].birth_year}}
                    <br>Mass: {{people[1].mass}}
                    <br>Height: {{people[1].height}}
                    <br>Planet: {{c3poHome}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4 col-sm-4">
            <div ng-show="showR2">
                <h4>{{people[2].name}}</h4>
                <p>Birth year: {{people[2].birth_year}}
                    <br>Mass: {{people[2].mass}}
                    <br>Height: {{people[2].height}}
                    <br>Planet: {{r2d2Home}}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <!--        Darth Vader      -->
            <img class="img-responsive" src="http://1.bp.blogspot.com/-EHsKTdkE9Vo/T6v86BVwOMI/AAAAAAAACF0/yqXjsvHTUXU/s1600/darth-vader-comes-to-tomtom-0.jpg" alt="Darth Vader" ng-click="showDarth = !showDarth">
        </div>
        <div class="col-xs-4">
            <!--        Liea        -->
            <img class="img-responsive" src="http://images6.fanpop.com/image/photos/34300000/-Princess-Leia-princess-leia-organa-solo-skywalker-34371119-200-200.jpg" alt="Princess Leia" ng-click="showLeia = !showLeia">
        </div>
        <div class="col-xs-4">


            <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/ed/4c/34/ed4c3427787d566e89c7fa00982a076b.jpg" alt="Owen Lars" ng-click="showOwen = !showOwen">
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-4">
            <!--       darth        -->
            <div ng-show="showDarth">
                <h4>{{people[3].name}}</h4>
                <p>Birth year: {{people[3].birth_year}}
                    <br>Mass: {{people[3].mass}}
                    <br>Height: {{people[3].height}}
                    <br>Planet: {{darthHome}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4">
            <!--       leia       -->
            <div ng-show="showLeia">
                <h4>{{people[4].name}}</h4>
                <p>Birth year: {{people[4].birth_year}}
                    <br>Mass: {{people[4].mass}}
                    <br>Height: {{people[4].height}}
                    <br>Planet: {{leiaHome}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4">
            <!--       Owen       -->
            <div ng-show="showOwen">
                <h4>{{people[5].name}}</h4>
                <p>Birth year: {{people[5].birth_year}}
                    <br>Mass: {{people[5].mass}}
                    <br>Height: {{people[5].height}}
                    <br>Planet: {{owenHome}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <!--        beru lars       -->
            <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/e6/4f/07/e64f07b0bd27d86a5480095db94652f9.jpg" alt="beru lars" ng-click="showBeru = !showBeru">
        </div>
        <div class="col-xs-4">
            <!--        r5d4         -->
            <img class="img-responsive" src="http://www.geekalerts.com/u/R5-D4-Star-Wars-Sixth-Scale-Figure-200x200.jpg" alt="" ng-click="showR5 = !showR5">
        </div>
        <div class="col-xs-4">
            <!--        biggs        -->
            <img class="img-responsive" src="http://vignette1.wikia.nocookie.net/starwars/images/4/43/Biggs.png/revision/latest/scale-to-width-down/200?cb=20130305010633" alt="" ng-click="showBiggs = !showBiggs">
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-4">
            <!--       beru        -->
            <div ng-show="showBeru">
                <h4>{{people[6].name}}</h4>
                <p>Birth year: {{people[6].birth_year}}
                    <br>Mass: {{people[6].mass}}
                    <br>Height: {{people[6].height}}
                    <br>Planet: {{beruHome}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4">
            <!--       r5d4       -->
            <div ng-show="showR5">
                <h4>{{people[7].name}}</h4>
                <p>Birth year: {{people[7].birth_year}}
                    <br>Mass: {{people[7].mass}}
                    <br>Height: {{people[7].height}}
                    <br>Planet: {{r5d4Home}}
                </p>
            </div>
        </div>
        <div class="col col-xs-4">
            <!--       Biggs       -->
            <div ng-show="showBiggs">
                <h4>{{people[8].name}}</h4>
                <p>Birth year: {{people[8].birth_year}}
                    <br>Mass: {{people[8].mass}}
                    <br>Height: {{people[8].height}}
                    <br>Planet: {{biggsHome}}
                </p>
            </div>
        </div>
    </div>
</div>