
#box {
    vertical-align: middle;
    font-size: 75px;
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    border-radius: 20px;
    text-align: center;
    background-color: black;
}
.row {
    width: 100%;
    height: auto;
}
#belowBox {
    height: 500px;
}
