 check.ng-valid{
    text-decoration: line-through;
}
:checked + div {
    text-decoration: line-through;
}

}
.show {
  display: block !important;
 text-decoration: line-through;
    
}
 
#list {
    border-bottom: 1px solid grey;
    height: 270px;
    margin-top: 10px;
}
body {
    padding: 50px;
}
img {
    max-height: 180px;
}
h3, p {
    display: inline;
    margin-right: 5px;
}