h1 {
    color: darkgreen;
    text-align: center;
    font-family: Georgia;
}
h1, h2 {
    text-align: center; 
    font-family: Georgia;
}
p {
    line-height: 25px;
    
}
.allCaps {
    text-transform: uppercase;
    
}
img {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    clear:left;
}