<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <title>StarWars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body>
    <!--   NavBar   -->
    <nav class="text-center" ng-controller="MainController">
        <a href="#/home">
            <button type="button" id="homeBtn" ng-click="lightSaber()" class="btn btn-warning">
                <p>Home</p>
            </button>
        </a>
        <a href="#/about">
            <button type="button" id="aboutBtn" ng-click="lightSaber2()" class="btn btn-warning">
                <p>About</p>
            </button>
        </a>
        <a href="#/explore">
            <button type="button" id="exploreBtn" ng-click="lightSaber3()" class="btn btn-warning">
                <p>Explore</p>
            </button>
        </a>
    </nav>

    <!------- end navbar   ------->

    <div ng-view>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="home/home.js"></script>
    <script src="about/about.js"></script>
    <script src="explore/explore.js"></script>
    <script src="service.js"></script>
</body>

</html>