<!DOCTYPE html>
<html lang="en" ng-app="cartoonApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="MainController">
    <header>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Title" ng-model="img.title">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Description" ng-model="img.description">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Image Url" ng-model="img.imgUrl">
            </div>
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" ng-click="addCartoon(img)">submit</button>
            </div>
        </div>
    </header>
    <section>
        <div class="row is-flex center-block">
            <div class="col col-xs-12 col-sm-4 text-center" ng-repeat="image in imgInfo track by $index">
                <div id="output">
                    <h4>{{ image.title }}</h4>
                    <p>{{ image.description }}</p>
                    <img ng-src="{{image.imgUrl}}" alt="" class="img-responsive" height="">
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
</body>

</html>