header {
    background-color: yellow;
    padding:30px;
    border: 15px outset #1AE4FF;
    box-shadow: 2px 3px 20px 0px black;
}
header button, input {
    margin-top: 20px
}
#output {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.31);
    margin-top: 20px;
    box-shadow: -3px 1px 20px 2px black;
 
}
section {
    padding:30px
}

body {
    background-color: #15A6FF;
    padding: 20px
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}