body {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnIoRHa9XM8C_2ZUSnG_RT6EOMlB8N6LSkTb2ZGSQzGttdFDL_");
    background-position: center;
    background-size:cover;
}
p {
    background-color: white;
    margin: 30px;
    font-size: 20px;
    text-align: center;
}
header {
    text-align: center;
    border: 2px solid white;
    margin-bottom: 40px;
    font-size: 50px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.homeBar, .contactBar, .aboutBar {
    display: block;
    background-color: black;
    color: white;
    font-size: 25px;
    margin: 15px;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
h1 {
    font-size: 75px;
    color: aqua;
    vertical-align: bottom;
}
body {
    background-color: dimgray
}
h1: hover {
    color: aliceblue;
}
main img {
    margin-left: 13%;
    float: none;
    image-orientation: center;
    
}
img {
    
}
.navBar {
    display: inline-block;
    height: 100%;
    widows: 30px;
    float: left;
}
#tiger {
    margin: inherit;
}
footer{
    display: inline-block;
    margin-top: 100px;
    background-color: forestgreen;
    color:white;
    font-size: 25px;
}